<nav class="main_nav">
				<ul id="mainnavlist">
					<!-- <li><a href="/"><div id="logo"></div>HOME</a></li><span>/</span> -->
					<li><a href="#/about">ABOUT</a></li>
					<!-- <li><a href="/">REVIEWS</a></li><span>/</span> -->
					<li><a href="#/menu">MENU</a></li>
					<li><a href="/"><img class="nav_img" src="/pics/thumb.png">HOME</a></li>
			        <li><a href="#/gallery" ng-click="aye()">GALLERY</a></li>
					<li><a href="#/contact">CONTACT</a></li>
				</ul>
</nav>
<div class="about_banner">
	<h1>Our Story</h1>	
</div>
<div class="sheet__aboutContent">
	<div class="image-third1">
	</div>
	<div class="image-third2">
	</div>
	<div class="content-third">
	<h3> Quality Food </h3>
	<p>At kukui hut cafe we are all about delivering authentic hawaiian food,Kukui Hut Cafe interior, reflects Hawaii Islands' surrounding area while also paying tribute to the island's cultured past.</br>This cafe offers the choice of breakfast, lunch and dinner, or a quick slushy milk, tea and boba concoction that would sure satisfy any sweet cravings instantly.</p>
	</div>
</div>
<div class="container">
	<div class="container-textOverflow">
	<h3>Our history</h3>
	<p>The idea of a pick me up goes beyond caffeine. In an increasingly digital world, coffee has the ability to make people slow down and look around. It’s partly due to our kiwi roots that we truly believe that life is never best when experienced at a frenetic pace. To us lazy Sundays should be compulsory, family comes before Facebook and a day spent by the beach is the best way to wind down.</p>
	<p>When you get your next pick me up, whether it’s on or off the beaten track, be sure to stop, breathe and appreciate all that’s around you – with your head well out of the digital clouds.</p>
	</div>
	<div class="container-overLay">
		<img src="/pics/bay.jpg">
	</div>
</div>
