<nav class="main_nav">
			<ul id="mainnavlist">
				<!-- <li><a href="/"><div id="logo"></div>HOME</a></li><span>/</span> -->
				<li><a href="#/about">ABOUT</a></li>
				<!-- <li><a href="/">REVIEWS</a></li><span>/</span> -->
				<li><a href="#/menu">MENU</a></li>
				<li><a href="/"><img class="nav_img" src="/pics/thumb.png">HOME</a></li>
				<li><a href="#/gallery" ng-click="aye()">GALLERY</a></li>
				<li><a href="#/contact">CONTACT</a></li>
			</ul>
</nav>
<div class="gallery__banner">
	<h1> Gallery </h1>
	<!-- <h4> Take a look inside </h4> -->
</div>
<div class="sheet__gallery">
	<img class="materialboxed" src="/pics/bay.jpg">
	<img class="materialboxed" src="/pics/food.jpg">
    <img class="materialboxed" src="/pics/smoothie.jpg">
	<img class="materialboxed" src="/pics/burger.jpg">
	<img class="materialboxed" src="/pics/cake.jpg">
	<img class="materialboxed" src="/pics/hotdog.jpg">
</div>
<div class="divider">
</div>
  <!--  <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection" />  -->