
<div class="main">
 	<nav class="main_nav">
				<ul id="mainnavlist">
					<!-- <li><a href="/"><div id="logo"></div>HOME</a></li><span>/</span> -->
					<li><a href="#/about">ABOUT</a></li>
					<!-- <li><a href="/">REVIEWS</a></li><span>/</span> -->
					<li><a href="#/menu">MENU</a></li>
					<li><a href="/"><img class="nav_img" src="/pics/thumb.png">HOME</a></li>
					<!-- <li><a href="/"><img class="nav_img" src="/pics/thumb.png"></a></li> -->
					<li><a href="#/gallery" ng-click="aye()">GALLERY</a></li>
					<li><a href="#/contact">CONTACT</a></li>
				</ul>
	</nav>
	<div class="logo-container">
<h1>KUKUI HUT CAFE<img class="palm" src="/pics/palm-tree.svg"></h1>
</div>
</div>
<div class="sheet__mainMenu">
	<div class="halfmain">
		<h3>-Locally sourced × crafted with love-</h3>
		<svg height="20" width="200">
                        <line class="main_line" x1="0" y1="0" x2="200" y2="0" />
        </svg>
		<p>At kukui hut cafe we are all about delivering authentic hawaiian food,Kukui Hut Cafe interior, reflects Hawaii Islands' surrounding area while also paying tribute to the island's cultured past.</br>This cafe offers the choice of breakfast, lunch and dinner, or a quick slushy milk, tea and boba concoction that would sure satisfy any sweet cravings instantly.</p>
	</div>
	<div class="halfmainimage">
 	</div>
</div>
<div class="sheet__mainImage">
</div>
	