<nav class="main_nav">
			<ul id="mainnavlist">
				<!-- <li><a href="/"><div id="logo"></div>HOME</a></li><span>/</span> -->
				<li><a href="#/about">ABOUT</a></li>
				<!-- <li><a href="/">REVIEWS</a></li><span>/</span> -->
				<li><a href="#/menu">MENU</a></li>
				<li><a href="/"><img class="nav_img" src="/pics/thumb.png">HOME</a></li>
				<li><a href="#/gallery" ng-click=aye()>GALLERY</a></li>
				<li><a href="#/contact">CONTACT</a></li>
			</ul>
</nav>
<div class="menu_banner">
	<h1> Menu </h1>	
</div>
	<div class="sheet__sandwhich">
		<div class="menu_catergory">
			<h2>DA KINE MEAL</h2>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			LOCCO MOCO
			</span>
			<span class="menu_item_info">
			Rice or fries 2 scoops white 1 beef patties,</br> mushroom gravy, fried scallion
			fried eggs, green onions/nori komi furikake
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			KAULA PORK
			</span>
			<span class="menu_item_info">
			2 scoops white rice, choice of macaroni salad or</br> mac and cheese
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			BBQ PORK RIBS
			</span>
			<span class="menu_item_info">
			Served w/2 scoops rice, choice of macaroni salad</br>
			salad or mac and cheese
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			CHICKEN
			</span>
			<span class="menu_item_info">
			Served w/2 scoops rice, choice of macaroni salad</br>
			salad or mac and cheese
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			KALBI SHORT RIBS
			</span>
			<span class="menu_item_info">
			Served w/2 scoops rice, choice of macaroni salad</br>
		    salad or mac and cheese
			</span>
		</div>
	</div>
<div class="sheet__burgers">
	<h1>BURGERS</h1>	
</div>
<div class="sheet__sandwhich">
		<!-- <div class="menu_catergory">
			<h4>BURGERS</h4>
		</div> -->
		<div class="menu_item">
			<span class="menu_name">
			HAOLE
			</span>
			<span class="menu_item_info">
			Beef paaty, american cheese, island suace, fried egg,</br>Mix Greens, Tomatoes, red Onions, pickles, bacon
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			HULA
			</span>
			<span class="menu_item_info">
			Kaula Pork, Mix Greens, Grilled Pineapple</br>
			& teri sauce
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			PLAIN BURGER
			</span>
			<span class="menu_item_info">
			8oz grilled beef patty</br>
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			CHEESE BURGER
			</span>
			<span class="menu_item_info">
			8oz grilled beef patty with cheese</br>
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			GRILLED SALMON
			</span>
			<span class="menu_item_info">
			Arugla, tomatoes, capers, grilled maui onions</br>
		    & wasabi mayo
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			AZNUTS
			</span>
			<span class="menu_item_info">
			Beef patty, island suasage, pepper jack cheese, grilled Maui Onion,</br> Mushroom, mini egg roll, fried scallion,
			fried egg with wasabi mayo, nori furkikake
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			TERI SHAKA
			</span>
			<span class="menu_item_info">
			Beef oaaty, prov cheese, grilled pineapple, mix greens,</br> tomatoes, red onions and homemade pineapple teri sauce
			</span>
		</div>
	</div>
<div class="sheet__dogs">
	<h1>HOT DOGS</h1>	
</div>
<div class="sheet__sandwhich">
		<!-- <div class="menu_catergory">
			<h4>HOT DOGS</h4>
		</div> -->
		<div class="menu_item">
			<span class="menu_name">
			MOKE
			</span>
			<span class="menu_item_info">
			hot calabrese, genoa salami, mortadella,</br>
			hot cappy, sopressa, etc
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			LONGBOARD
			</span>
			<span class="menu_item_info">
			Polish, baconbits, cheese, saute mushrooms. pineapple chunks, crunchy onions</br>
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			LONGBOARD
			</span>
			<span class="menu_item_info">
			Polish, baconbits, cheese, saute mushrooms. pineapple chunks, crunchy onions</br>
			</span>
		</div>
		<div class="menu_item">
			<span class="menu_name">
			VOLCANO
			</span>
			<span class="menu_item_info">
			Polish, with kaula mac n cheese, cheesem cruncy onions & wasabi mayo
			</span>
		</div>
</div>
<div class="divider">
</div>
<!-- <div class="sheet__cake">
</div> -->
<div class="sheet__sandwhich">
		<div class="food_container">
			<h1>FRIES</h1>
		<div class="food_item">
			<span class="menu_name">
			KAULA PORK FRIES
			</span>
			<span class="menu_item_info">
		    fries, kaula pork, fried egg, wasabi mayo, crunchy onions, green onions celantro
			</span>
		</div>
		<div class="food_item">
			<span class="menu_name">
			GARLIC FRIES
			</span>
			<span class="menu_item_info">
			Polish, with kaula mac n cheese, cheesem cruncy onions & wasabi mayo
			</span>
		</div>
		<div class="food_item">
			<span class="menu_name">
			REGULAR FRIES
			</span>
			<span class="menu_item_info">
			Polish, with kaula mac n cheese, cheesem cruncy onions & wasabi mayo
			</span>
		</div>
	</div>
	<div class="food_container">
		<h1>SPAM MASUBI</h1>
		<div class="food_item">
			<span class="menu_name">
			KEKI'S MASUBI
			</span>
			<span class="menu_item_info">
		    Spam, rice, wrapped with seaweed
			</span>
		</div>
		<div class="food_item">
			<span class="menu_name">
			HASH BROWN MASUBI
			</span>
			<span class="menu_item_info">
			Hash brown patty, spam, rice, wrapped with seaweed
			</span>
		</div>
	</div>
		<div class="food_container">
			<h1>BREAKFAST</h1>
		<div class="food_item">
			<span class="menu_name">
		    BIG KAHUNA COMBO
			</span>
			<span class="menu_item_info">
		    3 Pancakes, 2 eggs scrambled or grilled, spam, island chicken suausage or bacon
			</span>
		</div>
			<div class="food_item">
			<span class="menu_name">
		    3 STACK
			</span>
			<span class="menu_item_info">
		    Taro, kokonut pandan, taro khoko chip
			</span>
		</div>
		<div class="food_item">
			<span class="menu_name">
		    2 STACK
			</span>
			<span class="menu_item_info">
		    Taro, kokonut pandan, taro khoko chip
			</span>
		</div>
	</div>
	<div class="food_container">
			<h1>SALAD</h1>
		<div class="food_item">
			<span class="menu_name">
		    MARLEY'S GO GREEN SALD
			</span>
			<span class="menu_item_info">
		    Mix grrens, macadamia nut's, pineapples, madarines, island dressing
			</span>
		</div>
	</div>
	<div class="food_container">
			<h1>SIDE</h1>
		<div class="food_item">
			<span class="menu_name">
		    BABU'S MAC & CHEESE
			</span>
			<span class="menu_item_info">
		    Mix grrens, macadamia nut's, pineapples, madarines, island dressing
			</span>
		</div>
	</div>
		
</div>
<div class="menu_footer">
</div>
